*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: slategray;
}

.container
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.padding-box
{
	padding: 50px;
	background: white;
	box-shadow: 2px 2px 9px black;
}

.content
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tile
{
	cursor: pointer;
}

.tile:hover
{
	opacity: .8;
}

#title
{
	font-weight: normal;
}

#tooltip
{
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	border: 1px black solid;
	background: white;
	font-size: 10px;
}

#legend
{
	font-size: 9px;
}

.tile-text
{
	font-size: 8px;
}